* {
    box-sizing: border-box;
}

body {
    background-color: palegoldenrod;
    font-family: "Times New Roman", serif;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    background-color: red;
    text-align: center;
    border: groove orange 20px;
    padding: 20px;
}

h2 {
    font-size: 30px;
    color: red;
}

img {
    height: 350;
    width: auto;
}

.description {
    font-size: 25px;
}

li {
    font-size: 20px;
}

a {
    font-size: 30px;
}

.ingredients {
    font-weight: bolder;
}

.recipe-list {
    border-style: groove;
    border-width: 20px;
    border-color: red;
    padding: 20px;
    margin: 40px 10px;
    width: 500px;
}

.recipe-links {
    border: solid red 10px;
    padding: 100px;
    background-color: goldenrod;
    margin: 0 100px;
    text-align: center;
}

.recipe-links a {
    border: groove orange 20px;
    display: inline-block;
    text-align: center;
    padding: 40px 0px;
    width: 200px;
    margin: 0 50px;
    height: 200px;
    vertical-align: top;
}
